<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.github.kittinunf.cookpit"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme"
        android:largeHeap="true">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Base.Theme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".photo.PhotoViewActivity"
            android:label="@string/app_name"
            android:theme="@style/Base.Theme.NoActionBar">
        </activity>

        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService"/>

    </application>

</manifest>